* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headingFontFamily: "K2D", sans-serif;
    --bodyFontFamily: "Kanit", sans-serif;
    --primaryColor: #E1EFF6;
    --secondaryColor: #97D2FB;
    --accentColor: #83BCFF;
}

body {
    background-color: var(--primaryColor);
    font-family: var(--headingFontFamily);
}

main {
    display: flex;
    justify-content: center;
}

.table-caption {
    font-size: 2rem;
    text-align: center;
}

table {
    background-color: var(--secondaryColor);
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th,
td {
    padding: 8px 12px;
}

td {
    font-family: var(--bodyFontFamily);
}

.btn-cell {
    display: flex;
    gap: 5px;
}

.edit-btn,
.delete-btn {
    background: none;
    border: none;
    font-family: var(--bodyFontFamily);
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 1rem;
}

.edit-btn {
    background-color: var(--accentColor);
    transition: 0.2s ease;
}

.edit-btn:hover {
    background-color: #395271;
}

.delete-btn {
    background-color: #FF8383;
    transition: 0.2s ease;
}

.delete-btn:hover {
    background-color: #402c2c;
}